@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("../backgrounds/bg_home.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
h1 {
  color: azure;
  text-align: center;
}

p {
  color: azure;
  text-align: justify;
  margin: 0 auto; /* Centers the block horizontally */
  width: 80%; /* Adjust width to control text wrapping */
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

.text-container {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
  background-color: #141414aa;
  cursor: default;
}

.header {
  font-size: 18px;
  font-weight: bold;
  background-color: #f0f0f06e;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.content {
  display: none; /* Initially hidden */
  padding: 10px;
  color: white;
  font-weight: bolder;
  cursor: default;
}

.links-container {
  text-align: center;
  margin-top: 20px;
}

.link {
  color: #00c3ff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #ffcc00;
}
